<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.dao.EmployeeDao">

    <select id="getEmployees" resultType="com.easy.bean.Employee">
        select * from employee
            <where>
        <if test="checktext != null">
           <bind name="check" value="'%'+checktext+'%'"></bind>
            code like #{check} or info like #{check}
        </if>
            </where>

    </select>

    <select id="getCount" resultType="int">
        select count(*) from employee
        <where>
            <if test="checktext != null">
                <bind name="check" value="'%'+checktext+'%'"></bind>
                code like #{check} or info like #{check}
            </if>
        </where>
    </select>

    <insert id="addEmployee" >
        insert into employee(
                             code,name,sex,tel,salary,departmentid
        ) values(
                 #{code},#{name},#{sex},#{tel},#{salary},#{departmentid}
                        )
    </insert>

    <update id="updateEmployee" >
        update employee set
                            code=#{code},name=#{name},sex=#{sex},
                            tel=#{tel},salary=#{salary},departmentid=#{departmentid}
                        where id=#{id}
    </update>

    <delete id="deleteEmployee">
        delete from employee
               where id=#{id}
    </delete>
</mapper>